<% provide(:title, @user.name) %>
<div class="container giveMeMargin">
  <h3 class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-4">
  <%= gravatar_for @user %>
  <%= @user.name %>
</h3>
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
    <% if @user.tasks.any? %>
      <h3>Tasks (<%= @user.tasks.count %>)</h3>
      <ol class="tasks">
        <%= render @tasks %>
      </ol>
      <%= will_paginate @tasks %>
    <% end %>
    <% if correct_user_task_form?%>
       <section class="tasks_form">
        <%= render 'shared/task_form' %>
      </section>
      <div style= "margin-top:15px;">
        <h5 class="text-center">Dynamic-Map:</h5>
        <h6 class="text-center">Click on marker to see the task.</h6>
<div id="map" style=' height: 400px;'></div>
</div>
      <div style= "margin-top:15px;">
        <h5 class="text-center">Current-location:</h5>
<div id="map1" style=' height: 400px;'></div>
</div>

<script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script> 
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>


<script type= "text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
<script type="text/javascript">
var handler1 = Gmaps.build('Google');
handler1.buildMap({ internal: {id: 'map1'} }, function(){
  if(navigator.geolocation)
    navigator.geolocation.getCurrentPosition(displayOnMap);
});
var giveLat;
var givelong;
function displayOnMap(position){
  givelat=position.coords.latitude;
  givelong=position.coords.longitude;
  var marker = handler1.addMarker({
    lat: position.coords.latitude,
    lng: position.coords.longitude
  });
  handler1.map.centerOn(marker);
  handler1.getMap().setZoom(17);
};

$('.postLocation').click(function(){
  
  if( !$('#task_location').val() ) {
    
    $('#task_latitude').val(givelat);
    $('#task_longitude').val(givelong);
  }
});

</script>

      <% end %>
  </div>
</div>