<h3 class="text-center">New Task</h3>
<%= form_for(@task) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :task, placeholder: "Compose new task (required)" %>
  </div>
  <div class="field">
    <%= f.text_area :location, placeholder: "Location, eg.- IIT Delhi. leave blank for geolocation." %>
  </div>
   <div class="field">
    <%= f.text_area :latitude, placeholder: "Latitude for geolocation (autofilled)" %>
  </div>
   <div class="field">
    <%= f.text_area :longitude, placeholder: "Longitude for geolocation (autofilled)" %>
  </div>
  <div class="field">
    <h5 class="text-center" style="margin-top:0;">Select Time</h5>
    <%= f.datetime_select :time, placeholder: "time", ampm: true , :minute_step => 5 %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary postLocation" %>
<% end %>
