<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
  <![endif]-->
</head>
<body>


 <%= yield %>
      
<footer class="footer">
 <div class="col-sm-6 col-xs-6"><h5><%= link_to "Developer",about_path, class: "link" %></h5></div>
 <div class="col-sm-6 col-xs-6">
   <h5 class="pull-right" style= "color:white;">&copy; 2015 EXAMPLON</h5>
 </div>
</footer>
</body>
</html>
